@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111;
    color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #222;
    width: 100%;
    position: absolute;
    top: 0;
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
    margin-left: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background 0.3s;
}

.menu li a:hover, .menu li.active a {
    background: blueviolet;
    border-radius: 5px;
}

.dropdown:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    padding: 10px 0;
    border-radius: 5px;
    z-index: 1000;
}

.sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu ul li {
    margin: 0;
}

.sub-menu ul li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

.sub-menu ul li a:hover {
    background: blueviolet;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 25px;
    color: blueviolet;
}

form {
    margin: 0 auto;
    width: 400px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #8a2be2;
}
